<div class="fullscreen">
  <div class="row vh-100">
    <div class="col-8 img-pane">
      <div class="floating-text">
        <h1 class="text-white">
          &gt; Login to trade <br>
        </h1>
        <h6 class="text-white"><em>G5 TradeEngine &reg;</em></h6>
      </div>
    </div>
    <div class="col">
      <div class="h-100 d-flex flex-column justify-content-center align-items-center">
          <div class="row w-75">
            <div class="col">
              <!-- email -->
              <div class="form-group">
                <label for="" class="small">Email</label>
                <input type="text" class="form-control" placeholder="Email address">
              </div>
              <!-- password -->
              <div class="form-group">
                <label for="" class="small">Password</label>
                <input type="password" class="form-control" placeholder="Password">
              </div>
            </div>
          </div>
          <div class="row w-75">
            <div class="col text-right">
              <button class="btn btn-block ">Login</button>
              <a [routerLink]="['/signup']" routerLinkActive="router-link-active" class="small">
                Create an account
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
